@charset "UTF-8";

body {
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    min-width: 300px;
    max-width: 600px;
    font: normal 1em Arial, Helvetica, sans-serif;
}

body p {
    margin: 10px auto;
}

input, button {
    margin: auto 10px;
    padding: 5px;
    font: normal 1em Arial, Helvetica, sans-serif;
}

input#numero {
    max-width: 80px;
}
